<%= form_for @post, html: { multipart: true } do |f| %>
    <div class="form-group">
        <%= f.label :customer_name %>
        <%= f.text_field :customer_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :house_name %>
        <%= f.text_field :house_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :country %>
        <%= f.text_field :country, class: 'form-control', value: 'Pakistan',:readonly => true %>
    </div>    
    <div class="form-group">
        <%= f.label :city %>
        <%= f.select :city, ['Karachi', 'Lahore', 'Islamabad', 'Peshawar', 'Multan', 'Rawalpindi', 'Quetta', 'Kohat', 'Sialkot', 'Hyderabad'], {}, class: 'form-control' %>
    </div> 
    <div class="form-group">
        <%= f.label :house_address %>
        <%= f.text_field :house_address, class: 'form-control' %>
    </div>
        <%= f.hidden_field :latitude, class: 'form-control' %>
        <%= f.hidden_field :longitude, class: 'form-control' %>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :post_type_select %>&nbsp&nbsp
        <%= f.collection_radio_buttons :post_type_select, [['Rent', 'Rent'] ,['Sell', 'Sell']],:first, :last %>
    </div> 
    <div class="form-group">
        <%= f.label :rent_price, 'Price ($USD)' %>
        <%= f.text_field :rent_price, class: 'form-control' %>
    </div> 
    
    <% if @post.status == "" %>
        <div class="form-group">
            <%= f.label :status %>
            <%= f.text_field :status, class: 'form-control', disabled: true %>
        </div>
    <% else %>
        <div class="form-group">
            <%= f.label :status %>
            <%= f.text_field :status, :value => @post.status, class: 'form-control', disabled: true %>
        </div>
    <% end %>    

    <div class="form-group">
        <%= f.label :customer_phone_no %>
        <%= f.text_field :customer_phone_no, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :customer_email %>
        <%= f.email_field :customer_email, class: 'form-control' %>
    </div>        
     <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
    </div>  
    <div class="form-group">
        <%= f.submit "Update Profile", class: 'btn btn-primary' %>
    </div>
<% end %>
  
  