<div class="row">
    <div class="col-md-3 text-center">
        <!--<%= image_tag @post.image.url(:medium), class: 'user-show-avatar img-profile' %>-->
    </div>
    <div class="col-md-6">
        <div class="text-center">
          <%= image_tag @post.image.url(:medium), class: 'user-show-avatar img-profile' %>
        </div>
        <h1><%= @post.house_name %></h1>
            
            <% if @post.status == "Sold" || @post.status == "Rented" %>
                <h3><span class="label label-danger"><%= @post.status %></span></h3>
            <% else %>
                <h3><span class="label label-primary"><%= @post.status %></span></h3>
                <% if @post.status == "Not Rented" %>
                  <%= link_to "Rent this property", transaction_post_path(@post), data: { confirm: "Are you sure you want to rent this property?" }, class: 'btn btn-primary btn-lg btn-block' %>
                <% else %>
                  <%= link_to "Buy this property", transaction_post_path(@post), data: { confirm: "Are you sure you want to buy this property?" }, class: 'btn btn-primary btn-lg btn-block' %>
                <% end %>
            <% end %> 
            
            
        <h2><%= @post.city %>, <%= @post.country %></h2>
        <h3><%= @post.house_address %></h3>
        <div style='width: 450px;'>
          <div id="map" style='width:450px; height: 400px;'></div>
        </div>
        <h3>Price: $<%= @post.rent_price %> </h3>
        <div class="well profile-block profile-description">
            <h3>Description:</h3>
            <%= @post.description %>
            <!--<% if @post.status == "Sold" || @post.status == "Rented" %>-->
            <!--    <h5>Customer has already <%= @post.status %> this property</h5>-->
            <!--<% else %>-->
            <!--    <h5>Customer Wants to: <%= @post.post_type_select %> this property</h5>-->
            <!--<% end %>    -->
            
        </div>
        <div class="well profile-block contact-info">
            <h3>Contact Info:</h3>
            <h4>Name: <%= @post.customer_name %></h4>
            <h4>Phone No: <%= @post.customer_phone_no %></h4>
            <h4>Email: <%= @post.customer_email %></h4>
         </div>
         <div class="text-center edit-links">
            <%= link_to "Cancel", posts_path %>
            |
            <%= link_to "Edit Post", edit_post_path(@post) %>
         </div>
    </div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>

