<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <%= image_tag @post.image.url(:medium), class: 'user-show-avatar img-profile' %>
        </div><br/>
        <h2>Posted by <%= @post.user.user_name %></h2>
        <h1><%= @post.house_name %></h1>
            <% if @post.status == "Sold" || @post.status == "Rented" %>
                <h3><span class="label label-danger"><%= @post.status %></span></h3>
            <% else %>
                <h3><span class="label label-primary"><%= @post.status %></span></h3>
                <% if @post.status == "Not Rented" %>
                  <%= link_to "Rent this property", transaction_post_path(@post), data: { confirm: "Are you sure you want to rent this property?" }, class: 'btn btn-primary btn-lg btn-block' %>
                <% else %>
                  <%= link_to "Buy this property", transaction_post_path(@post), data: { confirm: "Are you sure you want to buy this property?" }, class: 'btn btn-primary btn-lg btn-block' %>
                <% end %>
            <% end %> 
        <div class="text-center">    
            <h2><%= @post.city %>, <%= @post.country %></h2>
            <h3><%= @post.house_address %></h3>
        </div>    
        <div class="text-center">
          <div id="map" style='width:450px; height: 400px;' class="text-center"></div>
        </div>
        <h3 class="text-center">Price: $<%= @post.rent_price %> </h3>
        <div class="well profile-block profile-description">
            <h3>Description:</h3>
            <p><%= @post.description %></p>
         </div>
        <div class="well profile-block contact-info">
            <h3>Contact Info:</h3>
            <h4>Name: <%= @post.customer_name %></h4>
            <h4>Phone No: <%= @post.customer_phone_no %></h4>
            <h4>Email: <%= @post.customer_email %></h4>
         </div>
        <% if @post.user.id == current_user.id || current_user.admin? %>
          <div class="text-center edit-links">
            <%= link_to "Cancel", posts_path, class: 'btn btn-default' %>
            |
            <%= link_to "Edit Post", edit_post_path(@post), class: 'btn btn-default' %>
          </div>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    //These lines of code build the Google map container along with the markers and attributes

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
    
    var mc = new MarkerClusterer(map, markers, { 
        imagePath: 'https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m' 
    });
</script>

