<h1> <%= @post.customer_name %> </h1> 
<%= image_tag @post.image.url(:medium) %>
<%= @post.customer_email %>
<%= @post.customer_name %>
<%= @post.customer_phone_no %>
<%= @post.house_name %>
<%= @post.house_address %>
<%= @post.post_type_select %>
<%= @post.description %>