<div class="row">
    <div class="col-md-3 text-center">
        <!--<%= image_tag @post.image.url(:medium), class: 'user-show-avatar img-profile' %>-->
    </div>
    <div class="col-md-6">
        <div class="text-center">
          <%= image_tag @post.image.url(:medium), class: 'user-show-avatar img-profile' %>
        </div>
        <h1><%= @post.house_name %></h1>
        <h3><%= @post.customer_name %></h3>
        <h3>Currently <span class="label label-primary"><%= @post.status %></span></h3>
        <%= @post.house_address %><br/>
        <div class="well profile-block profile-description">
            <h3>Description:</h3>
            <%= @post.description %>
            <h5>Customer Wants to: <%= @post.post_type_select %> this property</h5>
            
        </div>
        <div class="well profile-block contact-info">
            <h3>Contact Info:</h3>
            <%= @post.customer_phone_no %><br/>
            <%= @post.customer_email %></br>
         </div>
         <div class="text-center edit-links">
            <%= link_to "Cancel", posts_path %>
            |
            <%= link_to "Edit Post", edit_post_path(@post) %>
         </div>
    </div>
</div>

